@media (min-width:381px)
{
	
	/************************************************************************************/
	/********************************** GENERAL TAGS ************************************/
	/************************************************************************************/
		
	#wrapper
	{
		width: 1000px;
	}
	
	header
	{
		height: 86px;
	}	

	footer
	{
	    height: 110px;
	}
	
	header > .logo
	{
		position: absolute;
		width: 70px;
		height: 70px;
	    left: 50%;
		margin-left: -500px;
		top: 50%;
		margin-top: -35px;
	}
	
	footer > .logo
	{
	    width: 30px;
		height: 30px;
		margin: 0px auto;
	}
	
	footer .dividerThin
	{
	    margin: 0px auto;
	    margin-top: 10px;
	    margin-bottom: 5px;
	}
	
	#footerLinks
	{
		width: 100%;
	    text-align: center;
	}
	
	#footerLinks > a
	{
	    font-size: 12px;
	}
	
	#footerRightsLabel
	{
		width: 100%;
	    text-align: center;
	    font-size: 9px;
	}
	
	header > .navbar-search 
	{
		position: absolute;
		width: 380px;
		left: 50%;
		margin-left: -200px;
		top: 50%;
		margin-top: -17px;
	}
	
	header > .navbar-search > .search-query 
	{
		float: left;
		width: 340px;
		height: 34px;
	}
	
	.navbar-search > .btn 
	{
		width: 24px;
		height: 24px;
		margin-left: 5px;
		margin-top: 5px;
		float: left;
	}
	
	#connectedUserArea
	{
		position: absolute;
		right: 50%;
	    margin-right: -470px;
		top: 10px;
	}
	
	#connectedUserArea > .img-circle
	{
		width: 16px;
		height: 16px;
		float: left;
	}
	
	#connectedUserArea > .btn-group
	{
		float: left;
		margin-left: 3px;
	}
	
	.dropdown-toggle
	{
		font-size: 12px;
	}
		
	/*********************************************************************************/
	/********************************** MAIN PAGE ************************************/
	/*********************************************************************************/
	
	main > .navbar-search
	{
		display: none;
	}
	
	#resultListTitleBar
	{
	    height: 50px;
	    font-size: 28px;
	    padding-left: 10px;
	    padding-top: 10px;
	}
	
	#cuisineSelector > .dropdown-menu
	{
		width: 300px;
	}	
	
	#filterByRadiusSection
	{ 
		height: 800px; 
		width: 900px;
		padding: 10px;
	}
	
	#radiusFilterWrapper
	{
		margin: 0px auto;
		height: 780px; 
		width: 850px;
		margin-top: 20px;
	}
	
	#radiusFilterWrapper > .search-query
	{
		width: 340px;
		height: 34px;
		font-size: 12px;
	}
	
	#radiusSelectorSection
	{
		float: right;
	}
	
	#radiusSelectorSection > .slider
	{
		width: 200px;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 3px;
	}
	
	#mapWrapper 
	{
		height: 650px; 
		width: 850px;
		border: 2px solid #FFFFFF;
		margin-top: 20px;
		margin-bottom: 20px;
	}
		
	
	/******************************************************************************************/
	/********************************** RESTAURANT ELEMENT ************************************/
	/******************************************************************************************/
	
	.restaurantSection
	{
	    height: 234px;
	}
	
	.restaurantAddress
	{
	    font-size: 12px;
	}
	
	.websiteLinkBtn
	{
	    left: 854px;
	    top: 13px;
	}
	
	.shareBtn
	{
	    left: 904px;
	    top: 13px;
	}
	
	.addToWishlistBtn
	{
	    left: 954px;
	    top: 13px;
	}
	
	.totalRatingScore
	{
	    left: 18px;
	    top: 58px; 
	}
	
	.sadBtn
	{
	    left: 14px;
	    top: 155px;
	}
	
	.happyBtn
	{
	    left: 88px;
	    top: 155px;
	}
	
	.likesLabel
	{
	    position: absolute;
	    top: 185px;
	    left: 95px;
	}
	
	.dislikesLabel
	{
	    position: absolute;
	    top: 185px;
	    left: 23px;
	}
	
	.advancedRatingArea
	{
	    position: absolute;
	    width: 250px;
	    left: 160px;
	    top: 58px;
	}
	
	.advancedRatingVal
	{
		float: left;
	}
	
	.foodRatingBar
	{
	    margin-left: 60px;
	    margin-right: 20px;
	    width: 80px;
	    height: 15px;
	}
	
	.serviceRatingBar
	{
	    margin-left: 45px;
	    margin-right: 20px;
	    width: 80px;
	    height: 15px;
	}
	
	.priceRatingBar
	{
	    margin-left: 61px;
	    margin-right: 20px;
	    width: 80px;
	    height: 15px;
	}
	
	.atmosphereRatingBar
	{
	    margin-left: 10px;
	    margin-right: 20px;
	    width: 80px;
	    height: 15px;
	}
	
	.restaurantCuisines
	{
	    position: absolute;
	    top: 205px;
	    left: 160px;
	}
	
	.userPhotos
	{
	    position: absolute;
	    height: 120px;
	    width: 260px;
	    top: 58px;
	    left: 500px;
	    background-position: center;
		background-size: cover;
		border: 3px solid #FFF7EA;
	}
	
	.rateBtnSection
	{
	    position: absolute;
	    width: 100px;
	    top: 58px;
	    left: 866px;
	    text-align: center;
	}	
	
	/*****************************************************************************************/
	/*********************************** RESTAURANT PAGE *************************************/
	/*****************************************************************************************/
	
	#restaurantInfo .dividerThin
	{
		display: none;
	}
	
	.userReviewSection
	{
	    width: 100%;
	    font-size: 12px;
	}
	
	.userReviewSection > .well
	{
	    width: 600px;
	    margin-top: 20px;
	}
	
	.reviewerDetails
	{
	    width: 200px;
	    padding: 20px;	    
	}
	
	.ratingScoreSection
	{
	    margin-left: 20px;
	    margin-bottom: 20px;
	}
	
	.reviewRatingScore
	{
	    width: 55px;
	    height: 55px;
	    line-height: 55px;
	    font-size: 18px;
	}
		
	/*************************************************************************************/
	/*********************************** RATING PAGE *************************************/
	/*************************************************************************************/
	
	#restaurantTitleSection
	{
	    height: 50px;
	}
	
	.ratingSection
	{
	    height: 100px;
	    width: 950px;
	    margin: 0px auto;
	}
	
	.ratingAreaLabel
	{
	   	position: absolute;
	    top: 10px;
	}
	
	.advancedRatingLabel
	{
		position: absolute;
		left: 50%;
	    margin-left: -380px;
	    top: 50%;
	    margin-top: -4px;
	}
	
	.badRatingBtn
	{
	    left: 50%;
	    margin-left: -250px;
	    top: 50%;
	    margin-top: -10px;
	}
	
	.goodRatingBtn
	{
	    right: 50%;
	    margin-right: -250px;
	    top: 50%;
	    margin-top: -10px;
	}
	
	.ratingSection > .slider
	{
		position: absolute;
	    width: 400px;
	    top: 50%;
	    margin-top: -5px;
	    left: 50%;
	    margin-left: -200px;
		height: 20px;
		border: 0;
	}
	
	.ratingSection > .slider .ui-slider-handle
	{
		border: 0;
		height: 30px;
    	width: 20px;
	}
	
	.ratingSection > .slider .ui-slider-range
	{
		background: #F0AD4E;
	}
	
	.ratingResult
	{
	    position: absolute;
	    top: 50%;
	    margin-top: -25px;
	    right: 95px;
	    text-align: center;
    	border: 2px solid;
    	border-radius: 50%;
    	opacity: 0.8;
    	width: 48px;
	    height: 48px;
	    line-height: 48px;
	    font-size: 16px;
	    background: none;
	}
	
	#overallRatingValue
	{
		right: 92px;
    	width: 55px;
	    height: 55px;
	    line-height: 55px;
	    font-size: 20px;
	}
	
	.reviewArea
	{
		height: 200px;	
	}
	
	.reviewArea > textarea
	{
	    position: absolute;
	    resize: none;
	    top: 35px;
	    left: 50%;
	    margin-left: -380px;
	    width: 760px;
	    height: 133px;
	}
	
	.photo
	{
	    position: absolute;
	    top: 60px;
	    width: 100px;
	    height: 100px;
	    left: 85px;
	    opacity: 0.8;
	}
	
	.submitBtn
	{
	    position: absolute;
	    top: 35px;
	    left: 50%;
	    margin-left: -40px;
	}
}
