/************************************************************************************/
/********************************** GENERAL TAGS ************************************/
/************************************************************************************/

body
{
	/*background-color: #FFF7EA;*/
	background: url(../images/main-bg.png);
	
	/*overflow: hidden;*/
}

main
{    
    /*background-color: #E8DDCC;*/
    /*background-color: #F0F0F0;*/
   background: url(../images/bg.png);
    box-shadow: 0px 0px 6px 0px #332312;
}

label
{
    opacity: 0.9;
}

.clear 
{
	clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.hide
{
    display: none;
}

.pagination
{
    opacity: 0.9;
    font-family: 'Cinzel', serif;
}

	
#wrapper
{
	margin: 0px auto;
}
	
header
{	
	position: relative;
	width: 100%;
    background-color: #332312;
   	box-shadow: 0px 0px 10px 2px #000000;
   	background: url(../images/header-pattern.png) repeat-x;
}	

footer
{
    width: 100%;
    /*background-color: #332312;*/
   	background: url(../images/footer-pattern.png) repeat-x;
    box-shadow: 0px 0px 8px 0px #000000;
    padding-top: 10px;
}

.logo
{
	display: block;
	background: url(../images/logo.png) no-repeat center center;
	background-size: contain;
}
	
footer .dividerThin
{
    background-color: #FFFFFF;
    opacity: 0.8;
}

#footerLinks > a
{
    color: #FFFFFF;
    opacity: 0.8;
    font-family: 'Cinzel', serif;
    margin-right: 10px;
}

#footerRightsLabel
{
    color: #FFFFFF;
    opacity: 0.6;
    font-family: 'Cinzel', serif;
}
	
.search-query 
{
    font-family: 'Cinzel', serif;
    padding-left: 10px;
}
	
.navbar-search > .btn 
{
	background: url(../images/magnifier13.png) no-repeat center center;
    opacity: 0.8;
}
	
#connectedUserArea > .img-circle
{
	background: url(../images/person.png) no-repeat center center;
	background-size: contain;
}
	
.dropdown-toggle
{
	border: none;
	color: #FFFFFF;
	background: none;
}

@-webkit-keyframes bounce
{
    0% { -webkit-transform: translate(0px, 0px); }
    50% { -webkit-transform: translate(0px, -3px); }
    100% { -webkit-transform: translate(0px, 0px); }
}

@-moz-keyframes bounce
{
    0% { -moz-transform: translate(0px, 0px); }
    50% { -moz-transform: translate(0px, -3px); }
    100% { -moz-transform: translate(0px, 0px); }
}

.btn:hover
{
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);

    -webkit-transition: transform 0.1s ease-in-out;
    -moz-transition:transform 0.1s ease-in-out;
    -ms-transition:transform 0.1s ease-in-out;
}

.hoverEffect
{
	text-decoration: none;
    z-index: 1;
}

.hoverEffect:after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.hoverEffect:before {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.hoverEffect.effect-1
{
	background: rgba(255, 255, 255, 0.1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.hoverEffect.effect-1:after
{
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 7px #FFF7EA;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}
 
.hoverEffect.effect-1:hover {
    background: #FFF7EA;
    color: #F0AD4E;
    opacity: 1;
}

.hoverEffect.effect-1:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/*********************************************************************************/
/********************************** MAIN PAGE ************************************/
/*********************************************************************************/

#resultListTitleBar
{
    /*background-color: #834200;*/
   	background: url(../images/title-bar-bg.png) repeat-x;
    /*color: #FFF3C0;*/
    color: #BCB19F;
    font-family: 'Cinzel', serif;
}
	
#filterSortBar
{
	position: relative;
	height: 50px;
    /*background-color: #332312;*/
    background: url(../images/sort-bar-bg.png) repeat-x;
    box-shadow: 0px 0px 4px 1px #000000;
}
	
#filterButtonsWrapper
{
	position: absolute;
	top: 50%;
    margin-top: -16px;	
}
	
.filterSortBtn
{
	float: left;
   	width: 32px;
	height: 32px;
    opacity: 0.8;
	border: none;
	border-radius: 50%;
	transition: box-shadow 0.2s;
}
	
.filterSortBtn:hover
{   
	box-shadow: 0 0 0 5px #FFFFFF;
	border-radius: 50%;
}
	
.filterSortBtnSelected
{
	box-shadow: 0 0 0 6px #FFFFFF;
}
	
#filterSmile
{
	background: url(../images/happy47.png) no-repeat center center;
	margin-left: 31px;
}

#filterCuisine
{
	background: url(../images/fork28.png) no-repeat center center;
}
	
#cuisineSelector
{
	float: left;
	width: 32px;
	height: 32px;
	margin-left: 44px;
}
	
#cuisineSelector > .dropdown-menu
{
	margin-top: 6px;
	background-color: #E8DDCC;
	opacity: 0.9;
}
	
.dropdown-menu > .cuisineInstance
{
	margin-left: 8px;
	margin-top: 3px;
	margin-bottom: 3px;
}
	
.dropdown-menu > .cuisineInstance:hover
{
	background-color: #834200;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	cursor: pointer;
}

.cuisineSelected
{
	background-color: #834200;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}	

#filterMap
{
	background: url(../images/pointer17.png) no-repeat center center;
	margin-left: 44px;
}
		
#filterByRadiusSection
{ 
	background-color: #E8DDCC;
	box-shadow: 0px 0px 3px 0px #834200;
	border-radius: 8px;
	font-family: 'Cinzel', serif;
	display: none;
}

#radiusSelectorSection
{
	padding-top: 10px;
}

#radiusValue
{
	border: none;
	background: none;
	width: 40px;
}
	
#radiusFilterWrapper > .btn-link
{
	text-decoration: none;
	margin-right: 10px;
}
	
#mapWrapper 
{
	border: 2px solid #FFFFFF;
}
	
#filterSortBar .divider-vertical
{
	float: left;
    width: 1px;
    height: 32px;
    background-color: #FFFFFF;
    opacity: 0.7;
    margin-left: 44px;
}
	
#sortMenuBtn
{
	background: url(../images/sort14.png) no-repeat center center;
	border: 2px solid #FFFFFF;
    border-radius: 50%;
    margin-left: 44px;
}
	
#sortMenuBtnLabel
{
	font-family: 'Cinzel', serif;
    color: #FFFFFF;
    margin-left: 5px;
    margin-top: 7px;
}
	
	
	
/******************************************************************************************/
/********************************** RESTAURANT ELEMENT ************************************/
/******************************************************************************************/
	
.restaurantSection
{
    position: relative;
    font-family: 'Cinzel', serif;
}

#restaurantsList > .restaurantSection
{
	opacity: 0;
}

.restaurantLabel
{
	position: absolute;
    font-size: 24px;
    left: 14px;
	top: 11px;
	color: #000000;
	opacity: 0.7;
}

.restaurantLabel:hover
{
	text-decoration: none;
	color: #000000;
	opacity: 0.5;
}
	
.restaurantAddress
{
    position: absolute;
    left: 104px;
    top: 23px;
}
	
.pinBtn
{
    background: url(../images/location51.png) no-repeat center center;
    opacity: 0.9;
}
	
.websiteLinkBtn
{
    position: absolute;
    background: url(../images/screen54.png) no-repeat center center;
    width: 32px;
    height: 32px;
    opacity: 0.8;
}
	
.shareBtn
{
    position: absolute;
    background: url(../images/share35.png) no-repeat center center;
    width: 32px;
    height: 32px;
    opacity: 0.8;
}
	
.addToWishlistBtn
{
    position: absolute;
    background: url(../images/heart33.png) no-repeat center center;
    width: 32px;
    height: 32px;
    opacity: 0.8;
}
	
.ratingScore
{
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    border: 7px solid;
    border-radius: 50%;
    opacity: 0.7;
}
	
.totalRatingScore
{
    position: absolute;
    cursor: pointer;  
}
	
.sadBtn
{
    position: absolute;
    background: url(../images/sad44.png) no-repeat center center;
    width: 32px;
    height: 32px;
    opacity: 0.8;
}
	
.happyBtn
{
    position: absolute;
    background: url(../images/happy.png) no-repeat center center;
    width: 32px;
    height: 32px;
    opacity: 0.8;
}

.progress-bar
{
	opacity: 0.7;
}

.cuisineInstance
{
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 12%;
	border: 1px solid #000000;
    text-align: center;
    opacity: 0.8;
    font-family: 'Cinzel', serif;
}
	
.rateBtn
{
    background: url(../images/rate.png) no-repeat center center;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin-bottom: 5px;
}
	
.dividerThin
{
    background-color: #502800;
    margin: 0px auto;
    opacity: 0.7;
   	height: 1px;
   	width: 95%;
}
		
	
/*****************************************************************************************/
/*********************************** RESTAURANT PAGE *************************************/
/*****************************************************************************************/

.userReviewSection
{
    font-family: 'Cinzel', serif;
}

.userReviewSection > .well
{
	opacity: 0.8;
	background-color: #FFF7EA;
}

.userImg2
{
    background: url(../images/person3.jpg) no-repeat center center;
    background-color: #502800;
    background-size: contain;
    height: 48px;
    width: 48px;
}

.userImg3
{
    background: url(../images/person4.jpg) no-repeat center center;
    background-color: #502800;
    background-size: contain;
    height: 48px;
    width: 48px;
}

.userImg4
{
    background: url(../images/person5.jpg) no-repeat center center;
    background-color: #502800;
    background-size: contain;
    height: 48px;
    width: 48px;
}

.ratingScoreSection
{
    text-align: center;
}

.reviewRatingScore
{
    text-align: center;
    border: 2px solid;
    border-radius: 50%;
    opacity: 0.8;
}


/*************************************************************************************/
/*********************************** RATING PAGE *************************************/
/*************************************************************************************/

#restaurantTitleSection
{
    position: relative;
    font-family: 'Cinzel', serif;
    margin-bottom: 10px;
}
	
.ratingSection
{
    font-family: 'Cinzel', serif;
    position: relative;
}

.badRatingBtn
{
    position: absolute;
    background: url(../images/sad44.png) no-repeat center center;
    width: 32px;
    height: 32px;
    opacity: 0.8;
}

.goodRatingBtn
{
    position: absolute;
    background: url(../images/happy.png) no-repeat center center;
    width: 32px;
    height: 32px;
    opacity: 0.8;
}

.slider
{
	opacity: 0.8;
}
	
.photo
{
    position: absolute;
    background: url(../images/camera-icon.png) no-repeat center center;
}

