/************************************************************************************/
/********************************** GENERAL TAGS ************************************/
/************************************************************************************/

body
{
	background: url(../images/main-bg.png);
}

main
{    
    background: url(../images/bg.png);
    box-shadow: 0px 0px 6px 0px #332312;
}

label
{
    opacity: 0.9;
}

.clear 
{
	clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.hide
{
    display: none;
}

.pagination
{
    opacity: 0.9;
    font-family: 'Cinzel', serif;
}
	
#wrapper
{
	margin: 0px auto;
}
	
header
{	
	position: relative;
	width: 100%;
    background-color: #332312;
   	box-shadow: 0px 0px 10px 2px #000000;
   	background: url(../images/header-pattern.png) repeat-x;
}	

footer
{
    width: 100%;
   	background: url(../images/footer-pattern.png) repeat-x;
    box-shadow: 0px 0px 8px 0px #000000;
    padding-top: 10px;
}

.logo
{
	display: block;
	background: url(../images/logo.png) no-repeat center center;
	background-size: contain;
}

header > .glyphicon-menu-hamburger
{
	display: none;
}
	
footer .dividerThin
{
    background-color: #FFFFFF;
    opacity: 0.8;
}

#footerLinks > a
{
    color: #FFFFFF;
    opacity: 0.8;
    font-family: 'Cinzel', serif;
    margin-right: 10px;
}

#footerRightsLabel
{
    color: #FFFFFF;
    opacity: 0.6;
    font-family: 'Cinzel', serif;
}
	
.search 
{
    font-family: 'Cinzel', serif;
}
	
.searchButton 
{
	background: url(../images/magnifier13.png) no-repeat center center;
    opacity: 0.8;
}

.glyphicon-search
{
	opacity: 0.7;
}

#connectedUserArea
{
	display: none;
	opacity: 0.9;
}

#loginNavSection
{
	font-family: 'Cinzel', serif;
	opacity: 0.9;
}

#loginNavSection > .btn-link
{
	color: #FFFFFF;
	font-size: 18px;
}

#connectedUserArea > .img-circle
{
	background: url(../images/person.png) no-repeat center center;
	background-size: contain;
}
	
.dropdown-toggle
{
	border: none;
	color: #FFFFFF;
	background: none;
}

@-webkit-keyframes bounce
{
    0% { -webkit-transform: translate(0px, 0px); }
    50% { -webkit-transform: translate(0px, -3px); }
    100% { -webkit-transform: translate(0px, 0px); }
}

@-moz-keyframes bounce
{
    0% { -moz-transform: translate(0px, 0px); }
    50% { -moz-transform: translate(0px, -3px); }
    100% { -moz-transform: translate(0px, 0px); }
}

.btn:hover
{
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);

    -webkit-transition: transform 0.1s ease-in-out;
    -moz-transition:transform 0.1s ease-in-out;
    -ms-transition:transform 0.1s ease-in-out;
}

.hoverEffect
{
	text-decoration: none;
    z-index: 1;
}

.hoverEffect:after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.hoverEffect:before {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.hoverEffect.effect-1
{
	text-decoration: none;
	background: rgba(255, 255, 255, 0.1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.hoverEffect.effect-1:after
{
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 7px #FFF7EA;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}
 
.hoverEffect.effect-1:hover {
    background: #FFF7EA;
    color: #F0AD4E;
    opacity: 1;
}

.hoverEffect.effect-1:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}


/*********************************************************************************/
/********************************** MAIN PAGE ************************************/
/*********************************************************************************/

.titleBar
{
   	background: url(../images/title-bar-bg.png) repeat-x;
    color: #BCB19F;
    font-family: 'Cinzel', serif;
}
	
#filterSortBar
{
	position: relative;
	height: 50px;
    background: url(../images/sort-bar-bg.png) repeat-x;
    box-shadow: 0px 0px 4px 1px #000000;
}
	
#filterButtonsWrapper
{
	position: absolute;
	top: 50%;
    margin-top: -16px;	
}

.filterSortBtn
{
	width: 32px;
	height: 32px;
	border: none;
	border-radius: 50%;
}

#filterButtonsWrapper .filterSortBtn
{
	float: left;
    opacity: 0.8;
	transition: box-shadow 0.2s;
}
	
#filterButtonsWrapper .filterSortBtn:hover
{   
	box-shadow: 0 0 0 5px #FFFFFF;
	border-radius: 50%;
}
	
.filterSortBtnSelected
{
	box-shadow: 0 0 0 6px #FFFFFF;
}
	
#filterSmile
{
	background: url(../images/happy47.png) no-repeat center center;
}

#filterButtonsWrapper #filterSmile
{
	margin-left: 31px;
}

#filterCuisine
{
	background: url(../images/fork28.png) no-repeat center center;
}
	
#cuisineSelector
{
	float: left;
	width: 32px;
	height: 32px;
	margin-left: 44px;
}
	
#cuisineSelector > .dropdown-menu
{
	margin-top: 6px;
	background-color: #E8DDCC;
	opacity: 0.9;
}
	
.dropdown-menu > .cuisineInstance
{
	margin-left: 8px;
	margin-top: 3px;
	margin-bottom: 3px;
}
	
.dropdown-menu > .cuisineInstance:hover
{
	background-color: #834200;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	cursor: pointer;
}

.cuisineSelected
{
	background-color: #834200;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
}	

#filterMap
{
	background: url(../images/pointer17.png) no-repeat center center;
}

#filterButtonsWrapper > #filterMap
{
	margin-left: 44px;
}
		
#filterByRadiusSection
{ 
	box-shadow: 0px 0px 6px 0px #332312;
	background: url(../images/bg.png);
	font-family: 'Cinzel', serif;
	display: none;
}

#radiusSelectorSection
{
	padding-top: 10px;
}

#radiusValue
{
	border: none;
	background: none;
	width: 40px;
}
	
#radiusFilterWrapper > .btn-link
{
	text-decoration: none;
	margin-right: 10px;
	color: #000000;
	opacity: 0.9;
}
	
#mapWrapper 
{
	border: 2px solid #FFFFFF;
}
	
#filterSortBar .divider-vertical
{
	float: left;
    width: 1px;
    height: 32px;
    background-color: #FFFFFF;
    opacity: 0.7;
    margin-left: 44px;
}
	
#sortMenuBtn
{
	background: url(../images/sort14.png) no-repeat center center;
	border: 2px solid #FFFFFF;
    border-radius: 50%;
    margin-left: 44px;
}
	
#sortMenuBtnLabel
{
	font-family: 'Cinzel', serif;
    color: #FFFFFF;
    margin-left: 5px;
    margin-top: 7px;
}
	
	
	
/******************************************************************************************/
/********************************** RESTAURANT ELEMENT ************************************/
/******************************************************************************************/
	
.restaurantSection
{
    position: relative;
    font-family: 'Cinzel', serif;
}

#restaurantsList > .restaurantSection
{
	opacity: 0;
}

.restaurantLabel
{
	position: absolute;
    font-size: 24px;
    left: 14px;
	top: 11px;
	color: #000000;
	opacity: 0.7;
}

.restaurantLabel:hover
{
	text-decoration: none;
	color: #000000;
	opacity: 0.5;
}
	
.restaurantAddress
{
    position: absolute;
    left: 104px;
    top: 23px;
}
	
.pinBtn
{
    background: url(../images/location51.png) no-repeat center center;
    opacity: 0.8;
}
	
.websiteLinkBtn
{
    position: absolute;
    background: url(../images/screen54.png) no-repeat center center;
    width: 32px;
    height: 32px;
    opacity: 0.7;
}
	
.shareBtn
{
    position: absolute;
    background: url(../images/share35.png) no-repeat center center;
    width: 32px;
    height: 32px;
    opacity: 0.7;
}
	
.addToWishlistBtn
{
    position: absolute;
    background: url(../images/heart33.png) no-repeat center center;
    width: 32px;
    height: 32px;
    opacity: 0.7;
}
	
.ratingScore
{
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    border: 7px solid;
    border-radius: 50%;
    color: inherit;
    opacity: 0.7;
    text-decoration: none;
}
	
.totalRatingScore
{
    position: absolute;
    cursor: pointer;
}
	
.sadBtn
{
    position: absolute;
    background: url(../images/sad44.png) no-repeat center center;
    width: 32px;
    height: 32px;
    opacity: 0.8;
}
	
.happyBtn
{
    position: absolute;
    background: url(../images/happy.png) no-repeat center center;
    width: 32px;
    height: 32px;
    opacity: 0.8;
}

.progress-bar
{
	opacity: 0.7;
}

.cuisineInstance
{
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 12%;
	border: 1px solid #000000;
    text-align: center;
    opacity: 0.8;
    font-family: 'Cinzel', serif;
}
	
.rateBtn
{
    background: url(../images/rate.png) no-repeat center center;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin-bottom: 5px;
}
	
.dividerThin
{
    background-color: #502800;
    margin: 0px auto;
    opacity: 0.7;
   	height: 1px;
   	width: 95%;
}
		
	
/*****************************************************************************************/
/*********************************** RESTAURANT PAGE *************************************/
/*****************************************************************************************/

.userReviewSection
{
    font-family: 'Cinzel', serif;
}

.userReviewSection > .well
{
	background: url(../images/main-bg.png);
	box-shadow: 0px 0px 8px 0px #332312 inset;
}

.userImg2
{
    background: url(../images/person3.jpg) no-repeat center center;
    background-color: #502800;
    background-size: contain;
    height: 48px;
    width: 48px;
}

.userImg3
{
    background: url(../images/person4.jpg) no-repeat center center;
    background-color: #502800;
    background-size: contain;
    height: 48px;
    width: 48px;
}

.userImg4
{
    background: url(../images/person5.jpg) no-repeat center center;
    background-color: #502800;
    background-size: contain;
    height: 48px;
    width: 48px;
}

.ratingScoreSection
{
    text-align: center;
}

.reviewRatingScore
{
    text-align: center;
    border: 2px solid;
    border-radius: 50%;
    opacity: 0.8;
}


/*************************************************************************************/
/*********************************** RATING PAGE *************************************/
/*************************************************************************************/

#restaurantTitleSection
{
    position: relative;
    font-family: 'Cinzel', serif;
    margin-bottom: 10px;
}
	
.ratingSection
{
    font-family: 'Cinzel', serif;
    position: relative;
}

.badRatingBtn
{
    position: absolute;
    background: url(../images/sad44.png) no-repeat center center;
    width: 32px;
    height: 32px;
    opacity: 0.8;
}

.goodRatingBtn
{
    position: absolute;
    background: url(../images/happy.png) no-repeat center center;
    width: 32px;
    height: 32px;
    opacity: 0.8;
}

.slider
{
	opacity: 0.8;
}
	
.photo
{
    position: absolute;
    background: url(../images/camera-icon.png) no-repeat center center;
}


/*****************************************************************************************/
/************************************ PERSONAL PAGE **************************************/
/*****************************************************************************************/

main > #mapWrapper
{
	margin: 0px auto;
	width: 85%;
}

.recommendedSection .btn label
{
	font-family: 'Cinzel', serif;
	color: #FFFFFF;
	margin-top: 5px;
	margin-left: 3px;
}

.recommendedSection .btn .filterSortBtn
{
	margin-bottom: 10px;
}

.recommendedSection .btn .glyphicon-heart
{
	width: 32px;
	height: 32px;
	color: #FFFFFF;
	font-size: 28px;
	background: none;
	border: none;
	margin-right: 32px;
	margin-bottom: 10px;
}

.titleBar .glyphicon-list
{
	width: 32px;
	height: 32px;
	color: #FFFFFF;
	font-size: 28px;
	background: none;
	border: none;
	margin-right: 10px;
	opacity: 0.9;
	padding-bottom: 7px;
}


/*****************************************************************************************/
/************************************ LOG IN PAGE ****************************************/
/*****************************************************************************************/

.emptySpace
{
	height: 100px;
}

#loginSection
{
	background: url(../images/bg.png);
	margin: 0px auto;
}

.loginForm
{
	margin: 0px auto;	
}

.loginForm .btn-link
{
	color: #000000;
	opacity: 0.6;
}







/**************************************************************************  DESKTOP  ************************************************************************************************/
@media only screen and (min-width:481px)
{
	
	/************************************************************************************/
	/********************************** GENERAL TAGS ************************************/
	/************************************************************************************/
		
	#wrapper
	{
		width: 1000px;
	}
	
	header
	{
		height: 86px;
	}	

	footer
	{
	    height: 110px;
	}
	
	header > .logo
	{
		position: absolute;
		width: 70px;
		height: 70px;
	    left: 50%;
		margin-left: -500px;
		top: 50%;
		margin-top: -35px;
	}
	
	footer > .logo
	{
	    width: 30px;
		height: 30px;
		margin: 0px auto;
	}
	
	footer .dividerThin
	{
	    margin: 0px auto;
	    margin-top: 10px;
	    margin-bottom: 5px;
	}
	
	#footerLinks
	{
		width: 100%;
	    text-align: center;
	}
	
	#footerLinks > a
	{
	    font-size: 12px;
	}
	
	#footerRightsLabel
	{
		width: 100%;
	    text-align: center;
	    font-size: 9px;
	}
	
	header > form 
	{
		position: absolute;
		width: 380px;
		left: 50%;
		margin-left: -200px;
		top: 50%;
		margin-top: -17px;
	}
	
	header > .search
	{
		float: left;
		width: 340px;
		height: 34px;
	}
	
	.searchButton
	{
		width: 24px;
		height: 24px;
		position: absolute;
		left: 50%;
		margin-left: 190px;
		top: 50%;
		margin-top: -12px;
	}
	
	header .glyphicon-search
	{
		display: none;
	}
	
	#loginNavSection
	{
		position: absolute;
		right: 50%;
	    margin-right: -470px;
		top: 50%;
		margin-top: -20px;
	}	
	
	#connectedUserArea
	{
		position: absolute;
		right: 50%;
	    margin-right: -470px;
		top: 10px;
	}
	
	#connectedUserArea > .img-circle
	{
		width: 16px;
		height: 16px;
		float: left;
	}
	
	#connectedUserArea > .btn-group
	{
		float: left;
		margin-left: 3px;
	}
	
	.dropdown-toggle
	{
		font-size: 12px;
	}
		
	/*********************************************************************************/
	/********************************** MAIN PAGE ************************************/
	/*********************************************************************************/
	
	main > form
	{
		display: none;
	}
	
	.titleBar
	{
	    height: 50px;
	    font-size: 28px;
	    padding-left: 10px;
	    padding-top: 10px;
	}
	
	#cuisineSelector > .dropdown-menu
	{
		width: 300px;
	}	
	
	#filterByRadiusSection
	{ 
		height: 800px; 
		width: 900px;
		padding: 10px;
	}
	
	#radiusFilterWrapper
	{
		margin: 0px auto;
		height: 780px; 
		width: 850px;
		margin-top: 20px;
	}
	
	#radiusFilterWrapper > form
	{
		width: 380px;
		height: 34px;
		font-size: 12px;
	}
	
	#radiusSelectorSection
	{
		float: right;
	}
	
	#radiusSelectorSection > .slider
	{
		width: 200px;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 3px;
	}
	
	#mapWrapper 
	{
		height: 650px; 
		width: 850px;
		border: 2px solid #FFFFFF;
		margin-top: 20px;
		margin-bottom: 20px;
	}
		
	
	/******************************************************************************************/
	/********************************** RESTAURANT ELEMENT ************************************/
	/******************************************************************************************/
	
	.restaurantSection
	{
	    height: 234px;
	}
	
	.restaurantAddress
	{
	    font-size: 12px;
	}
	
	.websiteLinkBtn
	{
	    left: 854px;
	    top: 13px;
	}
	
	.shareBtn
	{
	    left: 904px;
	    top: 13px;
	}
	
	.addToWishlistBtn
	{
	    left: 954px;
	    top: 13px;
	}
	
	.totalRatingScore
	{
	    left: 18px;
	    top: 58px; 
	}
	
	.sadBtn
	{
	    left: 14px;
	    top: 155px;
	}
	
	.happyBtn
	{
	    left: 88px;
	    top: 155px;
	}
	
	.likesLabel
	{
	    position: absolute;
	    top: 185px;
	    left: 95px;
	}
	
	.dislikesLabel
	{
	    position: absolute;
	    top: 185px;
	    left: 23px;
	}
	
	.advancedRatingArea
	{
	    position: absolute;
	    width: 250px;
	    left: 160px;
	    top: 58px;
	}
	
	.advancedRatingVal
	{
		float: left;
	}
	
	.foodRatingBar
	{
	    margin-left: 60px;
	    margin-right: 20px;
	    width: 80px;
	    height: 15px;
	}
	
	.serviceRatingBar
	{
	    margin-left: 45px;
	    margin-right: 20px;
	    width: 80px;
	    height: 15px;
	}
	
	.priceRatingBar
	{
	    margin-left: 61px;
	    margin-right: 20px;
	    width: 80px;
	    height: 15px;
	}
	
	.atmosphereRatingBar
	{
	    margin-left: 10px;
	    margin-right: 20px;
	    width: 80px;
	    height: 15px;
	}
	
	.restaurantCuisines
	{
	    position: absolute;
	    top: 205px;
	    left: 160px;
	}
	
	.userPhotos
	{
	    position: absolute;
	    height: 120px;
	    width: 260px;
	    top: 58px;
	    left: 500px;
	    background-position: center;
		background-size: cover;
		border: 3px solid #FFF7EA;
	}
	
	.rateBtnSection
	{
	    position: absolute;
	    width: 100px;
	    top: 58px;
	    left: 866px;
	    text-align: center;
	}	
	
	/*****************************************************************************************/
	/*********************************** RESTAURANT PAGE *************************************/
	/*****************************************************************************************/
	
	#restaurantInfo .dividerThin
	{
		display: none;
	}
	
	.userReviewSection
	{
	    width: 100%;
	    font-size: 12px;
	}
	
	.userReviewSection > .well
	{
	    width: 600px;
	    margin-top: 20px;
	}
	
	.reviewerDetails
	{
	    width: 200px;
	    padding: 20px;	    
	}
	
	.ratingScoreSection
	{
	    margin-left: 20px;
	    margin-bottom: 20px;
	}
	
	.reviewRatingScore
	{
	    width: 55px;
	    height: 55px;
	    line-height: 55px;
	    font-size: 18px;
	}
		
	/*************************************************************************************/
	/*********************************** RATING PAGE *************************************/
	/*************************************************************************************/
	
	#restaurantTitleSection
	{
	    height: 50px;
	}
	
	.ratingSection
	{
	    height: 100px;
	    width: 950px;
	    margin: 0px auto;
	}
	
	.ratingAreaLabel
	{
	   	position: absolute;
	    top: 10px;
	}
	
	.advancedRatingLabel
	{
		position: absolute;
		left: 50%;
	    margin-left: -380px;
	    top: 50%;
	    margin-top: -4px;
	}
	
	.badRatingBtn
	{
	    left: 50%;
	    margin-left: -250px;
	    top: 50%;
	    margin-top: -10px;
	}
	
	.goodRatingBtn
	{
	    right: 50%;
	    margin-right: -250px;
	    top: 50%;
	    margin-top: -10px;
	}
	
	.ratingSection > .slider
	{
		position: absolute;
	    width: 400px;
	    top: 50%;
	    margin-top: -5px;
	    left: 50%;
	    margin-left: -200px;
		height: 20px;
		border: 0;
	}
	
	.ratingSection > .slider .ui-slider-handle
	{
		border: 0;
		height: 30px;
    	width: 20px;
	}
	
	.ratingSection > .slider .ui-slider-range
	{
		background: #F0AD4E;
	}
	
	.ratingResult
	{
	    position: absolute;
	    top: 50%;
	    margin-top: -25px;
	    right: 95px;
	    text-align: center;
    	border: 2px solid;
    	border-radius: 50%;
    	opacity: 0.8;
    	width: 48px;
	    height: 48px;
	    line-height: 48px;
	    font-size: 16px;
	    background: none;
	}
	
	#overallRatingValue
	{
		right: 92px;
    	width: 55px;
	    height: 55px;
	    line-height: 55px;
	    font-size: 20px;
	}
	
	.reviewArea
	{
		height: 200px;	
	}
	
	.reviewArea > textarea
	{
	    position: absolute;
	    resize: none;
	    top: 35px;
	    left: 50%;
	    margin-left: -380px;
	    width: 760px;
	    height: 133px;
	}
	
	.photo
	{
	    position: absolute;
	    top: 60px;
	    width: 100px;
	    height: 100px;
	    left: 85px;
	    opacity: 0.8;
	}
	
	.submitBtn
	{
	    position: absolute;
	    top: 35px;
	    left: 50%;
	    margin-left: -40px;
	}
	
	/*****************************************************************************************/
	/************************************ PERSONAL PAGE **************************************/
	/*****************************************************************************************/
	
	.recommendedSection
	{
		width: 100%;
		height: 150px;
		padding-top: 15px;
	}
	
	.recommendedSection .btn
	{
		float: left;
		background: url(../images/glass_btn.png) no-repeat center center;
		height: 120px;
		width: 200px;
		margin-left: 40px;
		padding-left: 25px;
		padding-top: 20px;
	}
	
	.recommendedSection .btn .filterSortBtn
	{
		float: left;
	}
	
	
	/*****************************************************************************************/
	/************************************ LOG IN PAGE ****************************************/
	/*****************************************************************************************/
	
	#loginSection
	{
		width: 460px;
		height: 325px;
	}	
	
	.loginForm
	{
		width: 80%;
		padding-top: 40px;
	}
	
	.loginForm .glyphicon
	{
		opacity: 0.8;
	}
	
	.loginForm .form-group
	{
		margin-bottom: 40px;
	}
	
	/*****************************************************************************************/
	/********************************* REGISTRATION PAGE *************************************/
	/*****************************************************************************************/
	
	#loginSection.registration
	{
		height: 380px;
	}
}








/**************************************************************************  MOBILE  ************************************************************************************************/
@media only screen and (max-width:480px)
{
	
	/************************************************************************************/
	/********************************** GENERAL TAGS ************************************/
	/************************************************************************************/
	
	#wrapper
	{
		width: 360px;
	}
	
	header
	{	
		height: 60px;
		padding: 5px;
	}
	
	footer
	{
	    height: 90px;
	}
	
	.logo
	{
		width: 50px;
		height: 50px;
		margin: 0px auto;
	}
	
	footer > .logo
	{
	    width: 25px;
		height: 25px;
		margin: 0px auto;
	}
	
	footer .dividerThin
	{
	    margin: 0px auto;
	    margin-top: 10px;
	    margin-bottom: 5px;
	}
	
	#footerLinks
	{
		width: 100%;
	    text-align: center;
	}
	
	#footerLinks > a
	{
	    font-size: 9px;
	}
	
	#footerRightsLabel
	{
		width: 100%;
	    text-align: center;
	    font-size: 8px;
	}
	
	header > .glyphicon-menu-hamburger
	{
		display: inherit;
		opacity: 0.9;
		color: #FFFFFF;
		font-size: 28px;
		text-decoration: none;
		width: 30px;
		height: 30px;
		padding-top: 10px;
		padding-left: 10px;
		float: left;
	}
	
	header > form 
	{
		display: none;
	}
	
	.searchButton
	{
		display: none;
	}
	
	#connectedUserArea
	{
		visibility: hidden;
	}
	
	#loginNavSection
	{
		visibility: hidden;
	}
	
	.pagination
	{
		visibility: hidden;
	}
	
	/*********************************************************************************/
	/********************************** MAIN PAGE ************************************/
	/*********************************************************************************/
	
	main > form
	{
		height: 50px;
		width: 98%;
		padding-top: 7px;
		padding-left: 10px;
	}
	
	.titleBar
	{
	    height: 50px;
	    font-size: 22px;
	    padding-left: 10px;
	    padding-top: 12px;
	}

	#cuisineSelector > .dropdown-menu
	{
		width: 200px;
	}
		
	#filterByRadiusSection
	{ 
		height: 490px; 
		width: 300px;
		padding: 5px;
	}
	
	#radiusFilterWrapper
	{
		margin: 0px auto;
		height: 350px; 
		width: 250px;
		margin-top: 10px;
	}
	
	#radiusFilterWrapper > form
	{
		width: 100%;
		height: 34px;
	}
	
	#radiusFilterWrapper .form-control
	{
		font-size: 10px;
	}
	
	#radiusSelectorSection
	{
		clear: both;
	}
	
	#radiusSelectorSection > .slider
	{
		width: 120px;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 3px;
	}
	
	#mapWrapper 
	{
		height: 320px; 
		width: 250px;
		border: 2px solid #FFFFFF;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	
	#sortMenuBtnLabel
	{
		display: none;
	}	
	
	/******************************************************************************************/
	/*************************** RESTAURANT ELEMENT - MAIN PAGE *******************************/
	/******************************************************************************************/
	
	.restaurantSection
	{
	    height: 220px;
	}
	
	.restaurantAddress
	{
	    font-size: 10px;
	}
	
	.websiteLinkBtn
	{
	    display: none;
	}
	
	.shareBtn
	{
		display: none;
	}
	
	.addToWishlistBtn
	{
	    display: none;
	}
	
	.totalRatingScore
	{
	    left: 10px;
	    top: 58px; 
	}	
	
	.sadBtn
	{
	    left: 6px;
	    top: 155px;
	}
	
	.happyBtn
	{
	    left: 80px;
	    top: 155px;
	}
	
	.likesLabel
	{
	    position: absolute;
	    top: 185px;
	    left: 87px;
	}
	
	.dislikesLabel
	{
	    position: absolute;
	    top: 185px;
	    left: 15px;
	}
	
	.advancedRatingArea
	{
	    position: absolute;
	    width: 120px;
	    left: 121px;
	    top: 58px;
	    font-size: 12px;
	    line-height: 21px;
	}
	
	.advancedRatingVal
	{
		float: right;
	}
	
	.foodRatingBar
	{
	    display: none;
	}
	
	.serviceRatingBar
	{
	    display: none;
	}
	
	.priceRatingBar
	{
	    display: none;
	}
	
	.atmosphereRatingBar
	{
	    display: none;
	}
	
	.restaurantCuisines
	{
	    display: none;
	}
	
	.userPhotos
	{
	    display: none;   
	}
	
	.rateBtnSection
	{
	    position: absolute;
	    width: 100px;
	    top: 58px;
	    left: 252px;
	    text-align: center;
	}
	
	/******************************************************************************************/
	/************************ RESTAURANT ELEMENT - RESTAURANT PAGE ****************************/
	/******************************************************************************************/
	
	#restaurantInfo > .restaurantSection
	{
	    height: 475px;
	}
	
	#restaurantInfo .websiteLinkBtn
	{
		position: absolute;
	    display: inherit;
	    left: 74px;
	    top: 260px;
	}
	
	#restaurantInfo .shareBtn
	{
		position: absolute;
		display: inherit;
		left: 174px;
		top: 260px;
	}
	
	#restaurantInfo .addToWishlistBtn
	{
		position: absolute;
	    display: inherit;
	    left: 274px;
	    top: 260px;
	}
	
	#restaurantInfo .totalRatingScore
	{
	    top: 318px; 
	}	
	
	#restaurantInfo .sadBtn
	{
	    top: 415px;
	}
	
	#restaurantInfo .happyBtn
	{
	    top: 415px;
	}
	
	#restaurantInfo .likesLabel
	{
	    top: 445px;
	}
	
	#restaurantInfo .dislikesLabel
	{
	    top: 445px;
	}
	
	#restaurantInfo .advancedRatingArea
	{
	    top: 318px;
	}
	
	#restaurantInfo .userPhotos
	{
		position: absolute;
	    display: inherit;
	    height: 193px;
	    width: 340px;
	    background-position: center;
		background-size: cover;
	    top: 58px;
	    left: 10px;  
	}
	
	#restaurantInfo .rateBtnSection
	{
	    top: 318px;
	}
	
	#restaurantInfo .dividerThin
	{
		position: absolute;
		top: 360px;
	    left: 50%;
	    margin-left: -170px;
	}
	
	
	
	/*****************************************************************************************/
	/*********************************** RESTAURANT PAGE *************************************/
	/*****************************************************************************************/
	
	.userReviewSection
	{
	    width: 100%;
	    font-size: 12px;
	    padding-bottom: 20px;
	}
	
	.reviewerDetails
	{
	    padding: 20px;    
	}
	
	.reviewerDetails > .img-circle
	{
		float: left;
		margin-right: 10px;
	}
	
	.userReviewSection > .well
	{
		float: none;
		clear: both;
	    width: 340px;
	    margin: 0px auto;
	}
		
	.userReviewSection > .well > .ratingScoreSection:first-child
	{
		display: inherit;
	}
	
	.ratingScoreSection
	{
		display: none;
	}
	
	.ratingScoreSection > label:last-child
	{
		display: none;
	}
		
	.reviewRatingScore
	{
	    width: 48px;
	    height: 48px;
	    text-align: center;
	    line-height: 48px;
	    font-size: 16px;
	}
	
	/*************************************************************************************/
	/*********************************** RATING PAGE *************************************/
	/*************************************************************************************/
	
	#restaurantTitleSection
	{
	    height: 50px;
	}
	
	.ratingSection
	{
		left: 10px;
	    height: 80px;
	    width: 350px;
	    
	}
	
	.ratingAreaLabel
	{
	   	position: absolute;
	    top: 10px;
	}
	
	.advancedRatingLabel
	{
		position: absolute;
		left: 50%;
	    margin-left: -380px;
	    top: 50%;
	    margin-top: -4px;
	}
	
	.badRatingBtn
	{
	   	top: 50%;
	    margin-top: -10px;
	}
	
	.goodRatingBtn
	{
	    right: 50%;
	    margin-right: -95px;
	    top: 50%;
	    margin-top: -10px;
	}
	
	.ratingSection > .slider
	{
		position: absolute;
	    width: 180px;
	    top: 50%;
	    left: 45px;
		height: 15px;
		border: 0;
	}
	
	.ratingSection > .slider .ui-slider-handle
	{
		border: 0;
		height: 25px;
    	width: 15px;
	}
	
	.ratingSection > .slider .ui-slider-range
	{
		background: #F0AD4E;
	}
	
	.ratingResult
	{
	    position: absolute;
	    top: 50%;
	    margin-top: -18px;
	    right: 15px;
	    text-align: center;
    	border: 2px solid;
    	border-radius: 50%;
    	opacity: 0.8;
    	width: 48px;
	    height: 48px;
	    line-height: 48px;
	    font-size: 16px;
	    background: none;
	}
	
	#overallRatingValue
	{
		right: 12px;
		top: 50%;
	    margin-top: -22px;
    	width: 55px;
	    height: 55px;
	    line-height: 55px;
	    font-size: 20px;
	}
	
	.reviewArea
	{
		height: 200px;	
	}
	
	.reviewArea > textarea
	{
	    position: absolute;
	    resize: none;
	    top: 35px;
	    width: 340px;
	    height: 133px;
	}
	
	.photo
	{
	    position: absolute;
	    top: 60px;
	    width: 100px;
	    height: 100px;
	    left: 50%;
	    margin-left: -50px;
	    opacity: 0.8;
	}
	
	.submitBtn
	{
	    position: absolute;
	    top: 35px;
	    left: 50%;
	    margin-left: -40px;
	}


	/*****************************************************************************************/
	/************************************ PERSONAL PAGE **************************************/
	/*****************************************************************************************/
	
	.recommendedSection
	{
		width: 100%;
		height: 300px;
		padding-top: 15px;
		padding-left: 20px;
	}
	
	.recommendedSection .btn
	{
		background: url(../images/glass_btn.png) no-repeat center center;
		height: 120px;
		width: 135px;
		margin: 5px;
	}
	
	.titleBar > h2
	{
		padding: 3px;
	}
	
	.titleBar > h2
	{
		font-size: 20px;
	}



	/*****************************************************************************************/
	/************************************ LOG IN PAGE ****************************************/
	/*****************************************************************************************/
	
	#loginSection
	{
		width: 320px;
		height: 260px;
	}	
	
	.loginForm
	{
		width: 80%;
		padding-top: 30px;
	}
	
	.loginForm .glyphicon
	{
		opacity: 0.8;
	}
	
	.loginForm .form-group
	{
		margin-bottom: 30px;
	}
	
	.loginForm .btn-link
	{
		font-size: 13px; 
	}
	
	/*****************************************************************************************/
	/********************************* REGISTRATION PAGE *************************************/
	/*****************************************************************************************/
	
	#loginSection.registration
	{
		height: 325px;
	}

}

